*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    background-color: hsl(0, 0%, 8%);
    
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    
}

.profile {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
   
}

.image{
    height:40px;
    border-radius: 50px;
    width: 40px
}
.image,
.name,
.location,
.description{
    
    /* display: flex;
    justify-content: center; */
}
.container{
    color: #fff;
    max-width: 960px;
    height: 100%;
    margin: 100px auto;
    padding: 10px;
    
    
    /* border: 2px solid white;
    border-radius: 15px; */
  
}

.link{
   background-color: hsl(0, 0%, 12%);
   border: 2px solid black;
   padding: 20px;
   color: aqua;
   font-size: 20px;
   
}
.attribution{
    margin-top: 20px;
}